.swipeTitle {
  width: 90%;
  margin: 0 0 10% 0;;
}

.buttonRow {
  display: flex;
  justify-content: center;
}

.completeText {
  width: 80%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}
